.bolded{
    font-weight: bold;
}
.big{
    font-size: 32px;
}
center{
    text-align: center;
}
.black{
    color: black;
}
.coolbg{
    background-image: url("https://mojo.generalmills.com/api/public/content/_pLFRXFETcuXWg_Z0MhZPw_webp_base.webp?v=1c273e93&t=191ddcab8d1c415fa10fa00a14351227");
}
