button:active{
    background: yellow !important;
    padding: 50px;
    font-size: 40px;
}
button:hover{
    color:red;
}
.centered{
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content:flex-start;
    align-items:center;
    height:100vh;
    gap:10px;
}
.coolbg {
    background-image: url("https://mojo.generalmills.com/api/public/content/_pLFRXFETcuXWg_Z0MhZPw_webp_base.webp?v=1c273e93&t=191ddcab8d1c415fa10fa00a14351227");
    border-radius:30px;
    opacity: 0.83;
}
button{
    padding: 40px;
    border:none;
    font-size: 28px;
    background:yellow;
    border-radius:20px;
    cursor:pointer;
    transition: all 0.4s ease;
}
.genders{
    font-family:sans-serif;
    font-style:italic;
    font-size: 30px;
    color: blueviolet;
    padding:0;
    margin:0;
}
input {
    border-radius: 30px;
    border: none;
    height: 80px;          
    font-size: 40px;          
    padding: 0 20px;          
    box-sizing: border-box;  
    background: pink;
}
.results{
    font-family:sans-serif;
    font-style:italic;
    font-size: 30px;
    color: blueviolet;
    padding:0;
    margin:0;
}
.blackbox{
    background: black;
    opacity:0.40;
    border-radius:10px;
}
body{
    background: linear-gradient(to right, #FFFFFF, #4d0404);
}
.bolded{
    font-weight: bold;
}
.big{
    font-size: 32px;
}
.center{
    text-align: center;
}
.black{
    color: black;
}
h2:hover{
    font-style: italic;
    color: blueviolet;
}

