body{
    background: linear-gradient(to right, #FFFFFF, #4d0404);
}
.bolded{
    font-weight: bold;
}
.big{
    font-size: 32px;
}
.center{
    text-align: center;
}
.black{
    color: black;
}
h2:hover{
    font-style: italic;
    color: blueviolet;
}
button:hover{
    color:red;
}
button:active,
button:focus{
    background: yellow !important;
    padding: 20px;
    font-size: 18px;
}
.centered{
    display:flex;
    flex-direction:row;
    text-align:center;
    justify-content:center;
    align-items:center;
    height:100vh;
    gap:10px;
}
.coolbg {
    background-image: url("https://mojo.generalmills.com/api/public/content/_pLFRXFETcuXWg_Z0MhZPw_webp_base.webp?v=1c273e93&t=191ddcab8d1c415fa10fa00a14351227");
}
