body{
    background: linear-gradient(to right, #FFFFFF, #4d0404);
}
.bolded{
    font-weight: bold;
}
.big{
    font-size: 32px;
}
.center{
    text-align: center;
}
.black{
    color: black;
}
h2:hover{
    font-style: italic;
    color: blueviolet;
}
button:hover{
    color:red;
}
button:active{
    background: yellow !important;
    padding: 50px;
    font-size: 40px;
}
.centered{
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content:flex-start;
    align-items:center;
    height:100vh;
    gap:10px;
}
.coolbg {
    background-image: url("https://mojo.generalmills.com/api/public/content/_pLFRXFETcuXWg_Z0MhZPw_webp_base.webp?v=1c273e93&t=191ddcab8d1c415fa10fa00a14351227");
}
button{
    padding: 40px;
    font-size: 28px;
    background:pink;
}
input{
    padding: 50px;
    font-size:45px;
    background:pink;
}
.results{
    font-family:sans-serif;
    font-style:italic;
    color: blueviolet;
    background: pink;
    opacity:0.80;
}
